* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Dekko';
}

/* Header */

.header {
    background-color: #e284a889;
    color: #fff;
}

.header-container {
    width: 1100px;
    margin: 0 auto;
}

.nav {
   display: flex; 
   justify-content: space-between;
   align-items: center;
   padding: 20px 0;
   margin-bottom: 80px;
}

a {
    text-decoration: none;
    color: #fff;
}

.nav-links {
    display: flex;
    list-style: none;
    font-size: 26px;
}

.nav-link {
    margin-left: 20px;
}

.logo img {
    width: 50px;
    height: 50px;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 700;
    font-style: oblique;
}

h1 {
    font-size: 48px;
    color: #f9faf8;
}

.hero {
    display: flex;
    gap: 50px;
    padding-bottom: 70px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 620px;
}

.hero-btn {
    display: block;
    border: none;
    border-radius: 5px;
    width: 110px;
    height: 42px;
    padding: 5px 15px;
    font-size: 15px;
    font-weight: 600;
    background-color: #dd6891;
    color: #f7e2f4;
}

.hero-btn:hover {
    cursor: pointer;
}

.hero-text p {
    font-size: 25px;
    color: #f8fafd;
}

.hero-image {
    width: 450px;
    height: 300px;
    border-radius: 3%;
}



/* Main */

.main {
    background-color: #fff;
}

.main-container{
    width: 900px;
    margin: 0 auto;
    padding: 20px;
} 

.main-container h3 {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    color: #45202d;
}

.box {
    height: 320px;
    width: 280px;
    border: 4px solid #dd689131;
    border-radius: 10px;
}

.box-container {
    display: flex;
    margin-top: 40px;
    justify-content: center;
    gap: 50px;
    padding-bottom: 75px;
}

.box-wrapper {
    text-align: center;
}

.box-wrapper figcaption {
    font-weight: 200;
    margin-top: 10px;
    color: #45202d;
}

/* Quote section */

.section {
    background-color: #f4dee961;
}

.section-container {
    width: 900px;
    margin: 0 auto;
    padding: 150px 0;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #45202d;
}

.quote-author {
    margin: 0 auto;
    font-size: 24px;
    font-weight: 600;
    color: #45202d;
    text-align: right;
}

/* Sign up section */

.sign-up {
    height: 400px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign-up-wrapper {
    background-color: #3882f6;
    width: 1000px;
    margin: 0 auto;
    padding: 35px 150px;
    border-radius: 10px;
    color: #e5e7eb;
    display: flex;
    font-size: 18px;
    justify-content: space-between;
}

.sign-up-btn {
    width: 100px;
    height: 32px;
    color: #E5E7EB;
    background: transparent;
    border: 2px solid #E5E7EB;
    border-radius: 5px;
}

.sign-up-btn:hover {
    cursor: pointer;
}

h4 {
    margin-bottom: 5px;
}

/* Footer */

.footer {
    background-color: #1f2937;
    color: #E5E7EB;
}

.footer p {
    text-align: center;
    padding: 40px;
}